---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Writing">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
      <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          Journals:
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>Robot Learning</li>
          <li>Reinforcement Learning</li>
          <li>Optimal Control</li>
          <li>Multi-agent systems</li>
        </ul>
  
  </section>
</Layout>
