---
import PageHeading from "../components/page-heading.astro";

import Layout from "../layouts/main.astro";
---

<Layout title="My Research">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Research"
      description="Explore my research publications, where I delve into cutting-edge advancements in technology and innovation. Stay tuned for the latest contributions to the field."
    />

    <h2 class="mt-10 text-2xl font-bold">Publications</h2>

    <h3 class="mt-8 text-xl font-semibold">Journals</h3>
    <p>Mohana Murali Dasari, Hari Chandana Kuchibhotla, Aravind Rajiv, Rama Krishna Gorthi, I-VITAL: Information aided visual tracking with adversarial learning, Displays. <a href="https://www.sciencedirect.com/science/article/abs/pii/S0141938223000057" target="_blank" class="text-blue-600 underline">Link to paper</a></p>
    <p>Author 1, Author 2, Hari Chandana Kuchibhotla, Paper Title 2, Journal Name, Year. <a href="https://example.com" target="_blank" class="text-blue-600 underline">Link to paper</a></p>
    <p>Author 1, Author 2, Hari Chandana Kuchibhotla, Paper Title 3, Journal Name, Year. <a href="https://example.com" target="_blank" class="text-blue-600 underline">Link to paper</a></p>

    <h3 class="mt-8 text-xl font-semibold">Conferences</h3>
    <p>[1] Hari Chandana Kuchibhotla, Sumitra M, Shivam Chandhok, V. Balasubramanian, Unseen Classes at a Later Time? No Problem, Proceedings of IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR’22), Jun 2022.</p>
    <p>[2] Hari Chandana Kuchibhotla, Sumitra M, Shivam Chandhok, V. Balasubramanian, Unseen Classes at a Later Time? No Problem, Proceedings of IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR’22), Jun 2022.</p>
    <p>[3] Hari Chandana Kuchibhotla, Sumitra M, Shivam Chandhok, V. Balasubramanian, Unseen Classes at a Later Time? No Problem, Proceedings of IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR’22), Jun 2022.</p>

    <h3 class="mt-8 text-xl font-semibold">Workshops</h3>
    <p>The eighth Visual Object Tracking: VOT 2020 in conjunction with ECCV 2020.</p>
    <p>Author 1, Author 2, Hari Chandana Kuchibhotla, Paper Title 2, Workshop Name, Year.</p>
    <p>Author 1, Author 2, Hari Chandana Kuchibhotla, Paper Title 3, Workshop Name, Year.</p>
  
  </section>
</Layout>
