---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Publications">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Publications"
    />

    <h3 class="mt-8 text-xl font-semibold">Journals</h3>
    <p class="mt-4 text-neutral-600 dark:text-neutral-400">
      [1] <strong>Dilli Bhaskar</strong>, Selva Kumar Chandrasekar, and Subramanian Saravana Perumaal, "Performance enhancement of robotic mobile fulfillment system with heterogeneous robots and soft Q-learning-based order allocation." <em>(Under Journal Review)</em>
    </p>

    <h3 class="mt-8 text-xl font-semibold">Conferences</h3>
    <p class="mt-4 text-neutral-600 dark:text-neutral-400">
      [1] <strong>Dilli Bhaskar</strong>, Shaikshavali Chitraganti, "Soft Normalized advantage Functions for Reinforcement Learning in Optimal Control problems," <em>accepted to 11th Indian Control Conference (ICC), Bangalore, 2025</em>.
    </p>
    <p class="mt-4 text-neutral-600 dark:text-neutral-400">
      [2] <strong>Dilli Bhaskar</strong>, Ayyappadas Rajagopal, Nandagopan Kalathil, Shaikshavali Chitraganti, "Value-Based Reinforcement Learning for Mapless Navigation of a Mobile Robot," <em>accepted to 11th Indian Control Conference (ICC), Bangalore, 2025</em>. <a href="https://youtu.be/7Rbjgge6bqM" target="_blank" class="text-blue-600 hover:underline dark:text-blue-400">[Video]</a>
    </p>
    <p class="mt-4 text-neutral-600 dark:text-neutral-400">
      [3] <strong>Dilli Bhaskar</strong>, Selva Kumar Chandrasekar, and Subramanian Saravana Perumaal, "Congestion-aware Path Planning for Multiple Shelf Carrying Mobile Robots in Robotic Mobile Fulfillment System," <em>Industry 4.0 and Advanced Manufacturing, Volume 1, 2024</em>. <a href="https://doi.org/10.1007/978-981-97-7150-9_26" target="_blank" class="text-blue-600 hover:underline dark:text-blue-400">[Link]</a>
    </p>
    <p class="mt-4 text-neutral-600 dark:text-neutral-400">
      [4] <strong>Dilli Bhaskar</strong>, and Suguna M., "Early Thermal Forest Fire Detection using UAV and Saliency Map," <em>5th International Conference on Contemporary Computing and Informatics (IC3I), 2022, pp. 1523–1528</em>. <a href="https://doi.org/10.1109/IC3I56241.2022.10072674" target="_blank" class="text-blue-600 hover:underline dark:text-blue-400">[Link]</a>
    </p>

    <h3 class="mt-8 text-xl font-semibold">Patents</h3>
    <p class="mt-4 text-neutral-600 dark:text-neutral-400">
      [1] <strong>Dilli Bhaskar</strong>, Amalwin Joe, J., Madesh, M., Akilesh Kruthik, M., Saravana Perumaal, S., et al., "Robotic Duct Vacuum Cleaner," <em>U.K. Design Patent Application No. 6339408, Mar. 2024</em>. <a href="https://drive.google.com/file/d/1PoDk9wv0P2Wpw_Aa5CbProRSGQWBknr9/view?usp=sharing" target="_blank" class="text-blue-600 hover:underline dark:text-blue-400">[Link]</a>
    </p>

  </section>
</Layout>
