---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Publications">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Publications"
    />

    <h3 class="mt-8 text-xl font-semibold">Journals</h3>
    <p>[1] <strong>Dilli Bhaskar</strong>, Selva Kumar Chandrasekar and Saravana Perumaal Subramanian, Heterogeneous robots based order allocation in robotic mobile fulfillment systems using reinforcement learning, Expert Systems with Applications, Under Review.</p>

    <h3 class="mt-8 text-xl font-semibold">Conferences</h3>
    <p>[1] <strong>Dilli Bhaskar</strong>, Selva Kumar Chandrasekar and Saravana Perumaal Subramanian (2021). Congestion-aware path planning for multiple shelf carrying mobile robots in Robotic Mobile Fulfillment System. In Industry 4.0 and Advanced Manufacturing: Proceedings of I-4AM 2024. Springer Singapore.</p>
    <p class="mt-4">[2] <strong>Dilli Bhaskar</strong>, and Suguna, M., Early Thermal Forest Fire Detection using UAV and Saliency map, 5th International Conference on Contemporary Computing and Informatics (IC3I), 2022.</p>
    <p class="mt-4">[3] <strong>Dilli Bhaskar</strong> and Shaikshavali Chitraganti, Normalized Advantage Function based Continuous Control for Mapless Navigation of Mobile Robot, Under Review, 2024.</p>

    <h3 class="mt-8 text-xl font-semibold">Patents</h3>
    <p>[1] <strong>Dilli Bhaskar</strong>, Amalwin Joe, J., Madesh, M., Akilesh Kruthik, M., Saravana Perumaal, S., and others, Robotic Duct Vacuum Cleaner, U.K. Design Patent Application No. 6339408, March 11, 2024.</p>

  </section>
</Layout>
