---
import PageHeading from "../components/page-heading.astro";

import Layout from "../layouts/main.astro";
---

<Layout title="Publications">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Publications"
    />

    <h3 class="mt-8 text-xl font-semibold">Journals</h3>
    <p>[1] Hari, Sumitra M, Shivam Chandhok, V. Balasubramanian, Unseen Classes at a Later Time? No Problem, Proceedings of IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR’22), Jun 2022.</p>
    <p class="mt-4">[2] Chandana, Sumitra M, Shivam Chandhok, V. Balasubramanian, Unseen Classes at a Later Time? No Problem, Proceedings of IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR’22), Jun 2022.</p>
    <p class="mt-4">[3] Kuchibhotla, Sumitra M, Shivam Chandhok, V. Balasubramanian, Unseen Classes at a Later Time? No Problem, Proceedings of IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR’22), Jun 2022.</p>

    <h3 class="mt-8 text-xl font-semibold">Conferences</h3>
    <p>[1] Hari, Sumitra M, Shivam Chandhok, V. Balasubramanian, Unseen Classes at a Later Time? No Problem, Proceedings of IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR’22), Jun 2022.</p>
    <p class="mt-4">[2] Chandana, Sumitra M, Shivam Chandhok, V. Balasubramanian, Unseen Classes at a Later Time? No Problem, Proceedings of IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR’22), Jun 2022.</p>
    <p class="mt-4">[3] Kuchibhotla, Sumitra M, Shivam Chandhok, V. Balasubramanian, Unseen Classes at a Later Time? No Problem, Proceedings of IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR’22), Jun 2022.</p>


  </section>
</Layout>
